<div class="view">
  <div class="header">Ingredientes</div>
  <div class="finder">
    <input type="text" [(ngModel)]="finder" placeholder="Buscar ingrediente"/>
  </div>
  <div class="center">
    <span *ngIf="ingredients != null && getListIngredients().length == 0">No hay resultados</span>
    <loader #loader></loader>
  </div>
  <cdk-virtual-scroll-viewport appendOnly itemSize="50" class="ingredients-list">
    <mat-accordion>
      <mat-expansion-panel class="ingredient" hideToggle *cdkVirtualFor="let ingredient of getListIngredients()" (click)="getDishesByIngredient(ingredient)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ingredient.strIngredient}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="dish_list">
          <div class="dish" *ngFor="let dish of ingredient.Dishes" (click)="openDishDetail(dish.idMeal)">
            <img [src]="dish.strMealThumb"/>
            {{dish.strMeal}}
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </cdk-virtual-scroll-viewport>
</div>
