<div class="view">
  <div class="header">¡Bienvenido!</div>
  <div class="welcome-box">
    Bienvenido a tu recetario, aqui podras encontrar platillos esquisitos para preparat en tan solo unos minutos y con unos cuantos ingredientes.
    <h4>¡Conoce el plantillo del día de hoy!</h4>
    <animation [width]="'300px'" [height]="'300px'" [path]="'https://assets1.lottiefiles.com/packages/lf20_9ycwmgb9.json'"></animation>
    <div>
      <button (click)="openDialog()">Ver platillo</button>
    </div>
  </div>
</div>
