:host{
  .welcome-box{
    width:90%;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 15px;
    color:#777;
    background: #f1f1f1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin: 10px auto;
    text-align:center;

    h4{
      margin:auto;
      font-size:20px;
      color:#999;
      width:100%;
      text-align: center;
      height:50px;
      line-height: 50px;
      font-weight:bold;
    }

    div {
      text-align:center;
    }

    button{
      margin:auto;
      border:none;
      font-size:13px;
      width: 120px;
      height: 38px;
      background: #2470af;
      color:white;
      transition: all 0.3s ease;
      border-radius: 7px;
      font-weight: 600;
      cursor: pointer;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

      &:hover{
        background: #3586c9;
      }
    }
  }
}
