:host{
  .finder {
    width:80%;
    margin:20px auto;

    input{
      height: 40px;
      border:none;
      border-radius:6px;
      line-height:40px;
      font-size:16px;
      color:#999;
      padding: 0 15px;
      box-sizing: border-box;
      width:100%;
      outline: 2px solid rgba(223, 223, 223, 0.726);
      &::placeholder{
        color:#CCC;
      }
    }
  }
}
